
{% set visits =  h.get_visits_for_resource(res.id) %}

<div class="module module-narrow">
<h2 class="module-heading"><i class="fa fa-bar-chart"></i>{{ _('Stats') }}</h2>
    <section class="module-content">
<span>{{ _('Last 30 days, updated daily') }}</span>
<div id="chart_div"></div>

<span>{{ _('All time downloads:' ) }} {{ visits.count }}</span>

<script src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
	google.charts.load('current', {packages: ['corechart']});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ["{{ _('Year') }}", "{{ _('Downloads') }}"],
            {% for v in visits.downloads %}
        [new Date({{ v.year }}, {{ v.month - 1 }}, {{ v.day }}), {{ v.visits }}],
        {% endfor %}
    ]);
        var options = {
            hAxis: {
                textPosition: 'none',
                format: 'dd.MM.yyyy',
                gridlines: {
                    count : 4
                }
            },
            vAxis: {
                minValue: 4
            },
            legend: { position: 'bottom' },
            backgroundColor: 'transparent'
        };
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>
    </section>
</div>